.container {
  display:flex; 
  justify-content:center;
  padding: 15px;
  background: rgb(246, 246, 246);
}
#app-container {
  max-width: 400px;
  border: 1px solid #e8e8e8;
}
#create-container {
  display: flex;
  flex-flow: column;
  gap: 15px;
  max-width: 640px;
  width: 100%;
  margin-bottom: 80px;
}
.card {
  /* max-width: 570px; */
  background: #fff;
  color: #111;
  border: 1px solid #e8e8e8;
  font-size: 15px;
  font-weight: 600;
}
.card-top {
  padding: 20px 22px;
  border-bottom: 1px solid #e8e8e8;
}
.card-body {
  padding: 20px 22px;
}

.card-body form{
  display: flex;
  flex-flow: column;
  gap: 5px;
}
.card-body h4{
  width: 80px;
  color: #2f2825;
  font-size: 13px;
  font-weight: 400;
  line-height: 38px;
}
.card-body form > div {
  display: flex;
}
.card-body form[name="groom-info"] > div,
.card-body form[name="bride-info"] > div,
.card-body form[name="reservation-info"] > div,
.card-body form[name="place-info"] > div{
  gap: 5px;
}
.card-body form input[name*="lastName"] {
  width: 38px;
}
.card-body form input[name*="firstName"] {
  width: 48px;
}
.map-search-btn {
  display: inline-block;
  padding: 0 12px;
  min-width: 60px;
  height: 38px;
  line-height: 36px;
  background-color: #fff;
  border: 1px solid #666;
  font-size: 13px;
  font-weight: 400;
  color: #333;
  text-align: center;
  cursor: pointer;
  border-radius: 2px;
  vertical-align: middle;
}

input[type="text"],
input[type="date"],
textarea,
select {
  padding: 0 10px;
  border: 1px solid #ebebeb;
  font-size: 13px;
  color: #111;
  background: #fafafa;
}
textarea {
  padding: 10px;
  outline: none;
}

select[name="relation"]{
  width: 60px;
  /*-webkit-appearance: none;*/
  /*-moz-appearance: none;*/
  /*appearance: none;*/
  padding-right: 0px;
}

/* 시작 모시는 글 */
[name="phrase-title"] {
  flex: 1;
  /* max-width: 400px; */
  /* width: 100%; */
}
[name="phrase-info"] .origin-img{
  display: none;
}

.textarea-container {
  display: flex;
  flex-flow: column;
  flex: 1;
}
.textarea-container button {
  display: flex;
  width: max-content;
  margin: 10px 0;
  padding: 0;
  outline: none;
  background: inherit;
  border: inherit;
  font-size: 13px;
  color: rgb(246, 94, 50);
  text-decoration: underline;
  cursor: pointer;
}
.textarea-container textarea{
  /* width: 100%; */
  resize : vertical;
}
/* 끝 모시는 글 */

/* 시작 예식 장소 */
[name="place-info"] input {
  flex: 1;
  max-width: 400px;
}
input[name="wedding-place addr"] {
  max-width: 335px;
}
/* 끝 예식 장소 */

/* 시작 예식 일시 */
[name="reservation-info"] .reservation-time{
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  flex: 1;
}
.reservation-time select {
  height:38px
}
/* 끝 예식 일시 */

/* 시작 교통 수단 */
[name="transit-info"] input[type="text"]{
  /* width: 100%; */
  height: 38px;
}
/* 끝 교통 수단 */

/* 시작 메인 이미지 */
.image-info canvas {
  width: 100%;
  height: 100%;
}

.image-info > div .img-container {
  position: relative;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  max-width:150px; 
  max-height:150px; 
  width: 100%;
  height: 150px;
  background: #f8f8f8; 
  border: 1px solid #ddd; 
  cursor: pointer;
}

.image-info > div p {
  position: absolute;
  font-size: 11px; 
  color: rgb(246, 94, 50); 
  text-decoration: underline;
}

.image-info > div .hasImg p {
  display: none;
}

.image-info > div .btn-delete-img {
  position:absolute; 
  top:5px; 
  right:5px; 
  z-index: 1;
}

.image-info > div .btn-delete-img i{
  color: #1f1f1f;
  font-size: 16px; 
}
[name="main-image-info"] .origin-img {
  display: none;
}
/* 끝 메인 이미지 */

/* 시작 갤러리 */
#subImg {
  display: none;
}
[name="gallery-info"] div {
  gap: 10px;  
  flex-wrap: wrap;
}
[name="gallery-info"] div .img-container {
  height:initial;
  max-width: 30%;
  max-height: 30%;
  min-width: 90px;
}
[name="gallery-info"] .crop-img,
[name="gallery-info"] .origin-img {
  display: none;
}
form[name="gallery-info"] div.gallery-image:nth-child(n+10) {
  display: none;
}
.btn-open-modal {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px;
  font-size: 11px;
  font-weight: 400;
  color: #474747;
  background: hsla(0,0%,100%,.9);
  border: none;
  outline: none;
  transition: .4s;
}
.btn-open-modal:hover {
  padding:10px;
  font-weight: 700;
}

/* 끝 갤러리 */


/* 시작 크롭 모달 */

.modal {
  /* display: none; */
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  max-width: 600px;
  min-width: 280px;
  margin: auto;
  background-color: #fefefe;
  border: 1px solid #888;
  border-radius: 20px;
  transform: translate(-50%, -50%);
}

.modal-top {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: #262626;
}
.modal-middle {

}
.crop-modal-conten {
  display: flex;
  justify-content: center;
  background: gray;
}

.crop-modal-content img {
  height: 300px;
}

.btn-close-modal {
  position: absolute;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #262626;
  float: right;
  font-size: 28px;
  font-weight: bold;
  background-color: inherit;
  outline: none;
  border: inherit;
  cursor: pointer;
}


.crop-modal-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.crop-modal-bottom button {
  background-color: inherit;
  border: inherit;
  text-align: center;
  outline: none;
}
/* 끝 크롭 모달 */

/* 시작 샘플 보기 모달 */
.sample-phrase-modal .modal-middle{
  padding: 20px;
  padding-top: 0;
}
.sample-phrase-modal .modal-middle > div{
  overflow-y: scroll;
  height: calc(70vh - 80px);
  border: 1px solid #eee;
}
.phrase-container{
  padding: 20px 10px;
  text-align: center;
  cursor: pointer;
  line-height: 30px;
  font-size: 13px;
  font-weight: 400;
  color: rgb(17,17,17);
}
.phrase-container:not(:last-child){
  border-bottom: 1px solid #eee;
}
/* 끝 샘플 보기 모달 */

/* 시작 신랑 신부 전화걸기 */
[name="couple-call-info"] input{
  max-width: 220px;
  flex: 1;
}
/* 끝 신랑 신부 전화걸기 */

/* 시작 혼주 전화걸기 */
[name="couple-parents-call-info"] input{
  max-width: 220px;
  flex: 1;
}
/* 끝 혼주 전화걸기 */

/* 시작 계좌번호 */
[name="account-number-info"] .account-data {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  flex: 1;
}
.account-data input {
  height: 38px;
}

/* 끝 계좌번호 */

[name="guest-book-info"] input {
  padding: 0 10px;
  border: 1px solid #ebebeb;
  font-size: 13px;
  color: #111;
  background: #fafafa;
}

.card.card-submit {
  
}
.card.card-submit .card-top{
  display: flex;
  justify-content: end;
  gap: 15px;
}
.card.card-submit .card-top button,
.card.card-submit .card-top a{
  padding: 10px 15px;
  border: 1px solid #ccc;
  font-weight: 400;
}
.card.card-submit .card-top button:hover,
.card.card-submit .card-top a:hover {
  background: #111;
  color: #fff;
}

/* 텍스트 에디터 라이브러리 스타일 죽이기 */
.tox-tinymce {
	border-radius: inherit !important;
	box-shadow: inherit !important;
	font-family: inherit !important;
}
.tox:not(.tox-tinymce-inline) .tox-editor-header {
  box-shadow: 0 2px 2px -2px rgba(34,47,62,.1) !important;
  padding: inherit !important;
}
.tox .tox-statusbar__text-container {
	display: none !important;
}

