<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>모바일 청첩장</title>
    
    <link rel="stylesheet" href="/static/css/reset.css">
    
    <!-- 웹폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="/static/css/create.css">
    <link  href="https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.4/cropper.min.css" rel="stylesheet">



    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=ko0r34e7m9"></script>

    <script src="https://unpkg.com/phosphor-icons"></script>
    <!-- tiny mce 텍스트 에디터 -->
    <script src="https://cdn.tiny.cloud/1/f9kc4lu9ej52cu9u6hcoqrflsjlfpb00kkj8dl4ngqmvbu1k/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    

</head>
<body>
    <div class="container">
      
      <div id="create-container">
        <!-- 신랑측 정보 -->
        <div class="card">
            <div class="card-top">
                신랑측 정보
            </div>
            <div class="card-body">
                <form name="groom-info" action="">
                    <div>
                        <h4>신랑님</h4>
                        <input type="text" name="groom lastName" placeholder="성" data-type="groom_dict" data-name="lastname" value="{{groom_dict.lastname}}">
                        <input type="text" name="groom firstName" placeholder="이름" data-type="groom_dict" data-name="firstname" value="{{groom_dict.firstname}}">
                    </div>
                    <div>
                        <h4>아버님</h4>
                        <input type="text" name="groom father lastName" placeholder="성" data-type="groom_dict"  data-name="fatherLastName" value="{{groom_dict.fatherLastName}}">
                        <input type="text" name="groom father firstName" placeholder="이름" data-type="groom_dict"  data-name="fatherFirstName"  value="{{groom_dict.fatherFirstName}}">
                    </div>
                    <div>
                        <h4>어머님</h4>
                        <input type="text" name="groom mother lastName" placeholder="성"  data-type="groom_dict"  data-name="motherLastName" value="{{groom_dict.motherLastName}}">
                        <input type="text" name="groom mother firstName" placeholder="이름"  data-type="groom_dict"  data-name="motherFirstName" value="{{groom_dict.motherFirstName}}">
                    </div>
                    <div>
                        <h4>관계</h4>
                        <select name="relation" id=""  data-type="groom_dict"  data-name="relation" >
                            <option value="" {{ 'selected' if groom_dict.relation == "" else "" }}></option>
                            <option value="아들" {{ 'selected' if groom_dict.relation == "아들" else "" }}>아들</option>
                            <option value="장남" {{ 'selected' if groom_dict.relation == "장남" else "" }}>장남</option>
                            <option value="차남" {{ 'selected' if groom_dict.relation == "차남" else "" }}>차남</option>
                            <option value="삼남" {{ 'selected' if groom_dict.relation == "삼남" else "" }}>삼남</option>
                            <option value="사남" {{ 'selected' if groom_dict.relation == "사남" else "" }}>사남</option>
                            <option value="오남" {{ 'selected' if groom_dict.relation == "오남" else "" }}>오남</option>
                            <option value="육남" {{ 'selected' if groom_dict.relation == "육남" else "" }}>육남</option>
                            <option value="칠남" {{ 'selected' if groom_dict.relation == "칠남" else "" }}>칠남</option>
                            <option value="막내" {{ 'selected' if groom_dict.relation == "막내" else "" }}>막내</option>
                            <option value="조카" {{ 'selected' if groom_dict.relation == "조카" else "" }}>조카</option>
                            <option value="손자" {{ 'selected' if groom_dict.relation == "손자" else "" }}>손자</option>
                            <option value="동생" {{ 'selected' if groom_dict.relation == "동생" else "" }}>동생</option>
                        </select>
                    </div>
                    
                </form>
            </div>
        </div>
        <!-- 신부측 정보 -->
        <div class="card">
            <div class="card-top">
                신부측 정보
            </div>
            <div class="card-body">
                <form name="bride-info" action="">
                    <div>
                        <h4>신부님</h4>
                        <input type="text" name="bride lastName" placeholder="성" data-type="bride_dict"  data-name="lastname"  value="{{bride_dict.lastname}}">
                        <input type="text" name="bride firstName" placeholder="이름" data-type="bride_dict"  data-name="firstname" value="{{bride_dict.firstname}}">
                    </div>
                    <div>
                        <h4>아버님</h4>
                        <input type="text" name="bride father lastName" placeholder="성" data-type="bride_dict"  data-name="fatherLastName" value="{{bride_dict.fatherLastName}}">
                        <input type="text" name="bride father firstName" placeholder="이름" data-type="bride_dict"  data-name="fatherFirstName" value="{{bride_dict.fatherFirstName}}">
                        <input type="checkbox" name="bride father dead-state">
                    </div>
                    <div>
                        <h4>어머님</h4>
                        <input type="text" name="bride mother lastName" placeholder="성" data-type="bride_dict"  data-name="motherLastName" value="{{bride_dict.motherLastName}}">
                        <input type="text" name="bride mother firstName" placeholder="이름" data-type="bride_dict"  data-name="motherFirstName" value="{{bride_dict.motherFirstName}}">
                        <input type="checkbox" name="bride mother dead-state">
                    </div>
                    <div>
                        <h4>관계</h4>
                        <select name="relation" id="" data-type="bride_dict"  data-name="relation">
                            <option value="" {{ 'selected' if bride_dict.relation == "" else "" }}></option>
                            <option value="딸" {{ 'selected' if bride_dict.relation == "딸" else "" }}>딸</option>
                            <option value="장녀" {{ 'selected' if bride_dict.relation == "장녀" else "" }}>장녀</option>
                            <option value="차녀" {{ 'selected' if bride_dict.relation == "차녀" else "" }}>차녀</option>
                            <option value="삼녀" {{ 'selected' if bride_dict.relation == "삼녀" else "" }}>삼녀</option>
                            <option value="사녀" {{ 'selected' if bride_dict.relation == "사녀" else "" }}>사녀</option>
                            <option value="오녀" {{ 'selected' if bride_dict.relation == "오녀" else "" }}>오녀</option>
                            <option value="육녀" {{ 'selected' if bride_dict.relation == "육녀" else "" }}>육녀</option>
                            <option value="칠녀" {{ 'selected' if bride_dict.relation == "칠녀" else "" }}>칠녀</option>
                            <option value="막내" {{ 'selected' if bride_dict.relation == "막내" else "" }}>막내</option>
                            <option value="조카" {{ 'selected' if bride_dict.relation == "조카" else "" }}>조카</option>
                            <option value="손녀" {{ 'selected' if bride_dict.relation == "손녀" else "" }}>손녀</option>
                            <option value="동생" {{ 'selected' if bride_dict.relation == "동생" else "" }}>동생</option>
                        </select>
                    </div>
                    
                </form>
            </div>
        </div>
        <!-- 모시는 글 -->
        <div class="card">
            <div class="card-top">
                모시는 글
            </div>
            <div class="card-body">
                <form name="phrase-info" action="" class="image-info">
                    <div>
                        <h4>제목</h4>
                        <input type="text" size="10" name="phrase-title" placeholder="초대합니다" data-type="message_templates_dict"  data-name="sub_title" value="{{message_templates_dict.sub_title}}">
                    </div>
                    <div>
                        <h4>내용</h4>
                        <div class="textarea-container">
                            <button class="sample-phrase btn-show-sample-phrase">샘플 문구 보기</button>
                            <textarea id="phrase_textarea" cols="10" rows="5" data-type="message_templates_dict"  data-name="sub_message"></textarea>
                        </div>
                    </div>
                    <div>
                        <h4>사진</h4>
                        <div class="main-image img-container" onclick="clickAddImg(this);">
                            <input type="file" accept="image/*" data-type="image_list"  data-name="sub_img" hidden="hidden" onchange="changeInputImg(this)">
                            <p>클릭 후 업로드</p>
                            <canvas width="300" height="300"></canvas>
                            <img class="origin-img" src="" alt="">
                        </div>
                    </div>
                    
                </form>
            </div>
        </div>
        <!-- 예식일시 -->
        <div class="card">
            <div class="card-top">
                예식일시
            </div>
            <div class="card-body">
                <form name="reservation-info" action="">
                    <div>
                        <h4>예약일</h4>
                        <input type="date" name="reservation date" data-type="wedding_schedule_dict"  data-name="date" value="{{ wedding_schedule_dict.date_format }}">
                    </div>
                    <div >
                        <h4>예약시간</h4>
                        <div class="reservation-time">

                            <select name="reservation time hour" id="" data-type="wedding_schedule_dict"  data-name="time_hour">
                                <option value="없음" {{ "selected" if wedding_schedule_dict.time_hour == "" else ""}}>없음</option>
                                <option value="오전 7시" {{ "selected" if wedding_schedule_dict.time_hour == "오전 7시" else ""}}>오전 7시</option>
                                <option value="오전 8시" {{ "selected" if wedding_schedule_dict.time_hour == "오전 8시" else ""}}>오전 8시</option>
                                <option value="오전 9시" {{ "selected" if wedding_schedule_dict.time_hour == "오전 9시" else ""}}>오전 9시</option>
                                <option value="오전 10시" {{ "selected" if wedding_schedule_dict.time_hour == "오전 10시" else ""}}>오전 10시</option>
                                <option value="오전 11시" {{ "selected" if wedding_schedule_dict.time_hour == "오전 11시" else ""}}>오전 11시</option>
                                <option value="낮 12시" {{ "selected" if wedding_schedule_dict.time_hour == "낮 12시" else ""}}>낮 12시</option>
                                <option value="오후 1시" {{ "selected" if wedding_schedule_dict.time_hour == "오후 1시" else ""}}>오후 1시</option>
                                <option value="오후 2시" {{ "selected" if wedding_schedule_dict.time_hour == "오후 2시" else ""}}>오후 2시</option>
                                <option value="오후 3시" {{ "selected" if wedding_schedule_dict.time_hour == "오후 3시" else ""}}>오후 3시</option>
                                <option value="오후 4시" {{ "selected" if wedding_schedule_dict.time_hour == "오후 4시" else ""}}>오후 4시</option>
                                <option value="오후 5시" {{ "selected" if wedding_schedule_dict.time_hour == "오후 5시" else ""}}>오후 5시</option>
                                <option value="오후 6시" {{ "selected" if wedding_schedule_dict.time_hour == "오후 6시" else ""}}>오후 6시</option>
                                <option value="오후 7시" {{ "selected" if wedding_schedule_dict.time_hour == "오후 7시" else ""}}>오후 7시</option>
                                <option value="오후 8시" {{ "selected" if wedding_schedule_dict.time_hour == "오후 8시" else ""}}>오후 8시</option>
                                <option value="오후 9시" {{ "selected" if wedding_schedule_dict.time_hour == "오후 9시" else ""}}>오후 9시</option>
                                <option value="오후 10시" {{ "selected" if wedding_schedule_dict.time_hour == "오후 10시" else ""}}>오후 10시</option>
                            </select>
                            <select name="reservation time minute" id="" data-type="wedding_schedule_dict"  data-name="time_minute">
                                <option value="정각" {{ "selected" if wedding_schedule_dict.time_minute == "정각" else ""}}>정각</option>
                                <option value="5분" {{ "selected" if wedding_schedule_dict.time_minute == "5분" else ""}}>5분</option>
                                <option value="10분" {{ "selected" if wedding_schedule_dict.time_minute == "10분" else ""}}>10분</option>
                                <option value="15분" {{ "selected" if wedding_schedule_dict.time_minute == "15분" else ""}}>15분</option>
                                <option value="20분" {{ "selected" if wedding_schedule_dict.time_minute == "20분" else ""}}>20분</option>
                                <option value="25분" {{ "selected" if wedding_schedule_dict.time_minute == "25분" else ""}}>25분</option>
                                <option value="30분" {{ "selected" if wedding_schedule_dict.time_minute == "30분" else ""}}>30분</option>
                                <option value="35분" {{ "selected" if wedding_schedule_dict.time_minute == "35분" else ""}}>35분</option>
                                <option value="40분" {{ "selected" if wedding_schedule_dict.time_minute == "40분" else ""}}>40분</option>
                                <option value="45분" {{ "selected" if wedding_schedule_dict.time_minute == "45분" else ""}}>45분</option>
                                <option value="50분" {{ "selected" if wedding_schedule_dict.time_minute == "50분" else ""}}>50분</option>
                                <option value="55분" {{ "selected" if wedding_schedule_dict.time_minute == "55분" else ""}}>55분</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- 예식장소 -->
        <div class="card">
            <div class="card-top">
                예식장소
            </div>
            <div class="card-body">
                <form name="place-info" action="">
                    <div>
                        <h4>예식장명</h4>
                        <input type="text" size="10" name="wedding-place name" data-type="wedding_schedule_dict"  data-name="hall_name" value="{{wedding_schedule_dict.hall_name}}">
                    </div>
                    <div>
                        <h4>층과 홀</h4>
                        <input type="text" size="10" name="wedding-place detail" data-type="wedding_schedule_dict"  data-name="hall_floor" value="{{wedding_schedule_dict.hall_floor}}">
                    </div>
                    <div>
                        <h4>주소</h4>
                        <input type="text" size="1" name="wedding-place addr" data-type="wedding_schedule_dict"  data-name="hall_addr" value="{{wedding_schedule_dict.hall_addr}}">
                        <div onclick="openPostCode()" class="map-search-btn">검색</div>
                        
                    </div>
                    <div id="createMap" style="width:100%; height:240px; max-width: 508px;
                    border: 1px solid #ddd;
                    box-sizing: border-box;"></div>
                </form>
            </div>
        </div>
        <!-- 교통 수단 -->
        <div class="card">
            <div class="card-top">교통 수단</div>
            <div class="card-body">
                <form name="transit-info" action="">
                    {% for transport in transport_list %}
                    <div>
                        <h4>{{transport.title_transport}}</h4>
                        <div class="textarea-container">
                            <input type="text" hidden value="{{transport.title_transport}}">
                            <textarea id="transport_textarea_{{loop.index0}}" data-type="transport_list" data-name="titlecontents_transport_transport"></textarea>
                        </div>
                    </div>
                    {% endfor %}
                </form>
            </div>
        </div>
        <!-- 메인 이미지 -->
        <div class="card">
            <div class="card-top">
                메인 이미지
            </div>
            <div class="card-body">
                <form name="main-image-info" class="image-info">
                    <div>
                        <h4>사진</h4>
                        <div class="main-image img-container" onclick="clickAddImg(this);">
                            <input type="file" accept="image/*" data-type="image_list"  data-name="main_img"  hidden="hidden" onchange="changeInputImg(this)">
                            <p>클릭 후 업로드</p>
                            <canvas width="300" height="300"></canvas>
                            <img class="origin-img" src="" alt="">

                        </div>
                    </div>
                </form>

            </div>
        </div>
        
        <!-- 갤러리 -->
        <div class="card">
            <div class="card-top">
                갤러리
            </div>
            <div class="card-body">
                <div id="subImg"></div>
                <form name="gallery-info" class="image-info">
                    <div>
                        <!-- <h4>갤러리</h4> -->
                        <div class="gallery-image img-container" onclick="clickAddImg(this);">
                            <input type="file" accept="image/*" hidden="hidden" onchange="changeInputImg(this);">
                            <p>클릭 후 업로드</p>
                            <canvas width="300" height="300"></canvas>
                            <img class="origin-img" src="" alt="">
                            <img class="crop-img" src="" alt="">
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- 신랑 신부 전화걸기 -->
        <div class="card">
            <div class="card-top">
                신랑 신부 전화걸기
            </div>
            <div class="card-body">
                <form name="couple-call-info" action="">
                    <div>
                        <h4>신랑님</h4>
                        <input type="text" size="10" placeholder="'-'없이 입력해주세요" data-type="groom_dict" data-name="phoneNum" value="{{groom_dict.phoneNum}}">
                    </div>
                    <div>
                        <h4>신부님</h4>
                        <input type="text" size="10" placeholder="'-'없이 입력해주세요" data-type="bride_dict" data-name="phoneNum" value="{{bride_dict.phoneNum}}">
                    </div>
                </form>
            </div>
        </div>

        <!-- 혼주 전화걸기 -->
        <div class="card">
            <div class="card-top">
                혼주 전화걸기
            </div>
            <div class="card-body">
                <form name="couple-parents-call-info" action="">
                    <div>
                        <h4>신랑 아버님</h4>
                        <input type="text" size="10" placeholder="'-'없이 입력해주세요" data-type="groom_dict" data-name="fatherPhoneNum" value="{{groom_dict.fatherPhoneNum}}">
                    </div>
                    <div>
                        <h4>신랑 어머님</h4>
                        <input type="text" size="10" placeholder="'-'없이 입력해주세요" data-type="groom_dict" data-name="motherPhoneNum" value="{{groom_dict.motherPhoneNum}}">
                    </div>
                    <div>
                        <h4>신부 아버님</h4>
                        <input type="text" size="10" placeholder="'-'없이 입력해주세요" data-type="bride_dict" data-name="fatherPhoneNum" value="{{bride_dict.fatherPhoneNum}}">
                    </div>
                    <div>
                        <h4>신부 어머님</h4>
                        <input type="text" size="10" placeholder="'-'없이 입력해주세요" data-type="bride_dict" data-name="motherPhoneNum" value="{{bride_dict.motherPhoneNum}}">
                    </div>
                </form>
            </div>
        </div>

        <!-- 계좌번호 -->
        <div class="card">
            <div class="card-top">
                계좌번호
            </div>
            <div class="card-body">
                <form name="account-number-info" action="">
                    {% for bank in bank_acc %}
                    {% set group_index = loop.index %}
                    <div>
                        <h4>그룹명</h4>
                        <input type="text"  placeholder="신랑측" data-type="bank_acc" data-name="group_name" value="{{bank.group_name}}">
                    </div>
                    <br>

                    {% for bank_data in bank.list %}
                        <div class="{{ 'first' if loop.index0 == 0 else 'other'}} bank-number-{{group_index}}">
                            <h4>계좌번호</h4>
                            <div class="account-data">
                                <input  type="text" placeholder="은행" data-type="bank_acc" data-name="list" list-type="bank" value="{{bank_data.bank}}">
                                <input type="text" placeholder="계좌번호" data-type="bank_acc" data-name="list" list-type="number" value="{{bank_data.number}}">
                            </div>
                        </div>
                        <div class="{{ 'first' if loop.index0 == 0 else 'other'}} bank-name-{{group_index}}" >
                            <h4>예금주</h4>
                            <input type="text"  data-type="bank_acc" data-name="list" list-type="name" value="{{bank_data.name}}">
                        </div>
                        <br class="{{ 'first' if loop.index0 == 0 else 'other'}} bank-br-tag-{{group_index}}">
                    {% endfor %}
                    <div class="bank-data-buttons-{{group_index}}">
                        <button onclick="addbankDataHtml(event, {{group_index}})"><i class="ph-bold ph-plus"></i></button>
                        <button onclick="deletebankDataHtml(event, {{group_index}})"><i class="ph-bold ph-minus"></i></button>
                    </div>
                    <br>
                    {% endfor %}

                </form>
            </div>
        </div>

        <!-- 방명록 -->
        <div class="card">
            <div class="card-top">
                방명록
            </div>
            <div class="card-body">
                <form name="guest-book-info">
                    <div>
                        <h4>비밀번호</h4>
                        <input type="password"  data-type="guestbook_password" data-name="password" >
                    </div>
                </form>
            </div>
        </div>

        <!-- CRUD 버튼 -->
        <div class="card card-submit">
            <div class="card-top">
                <button onclick="getInputData()">저장</button>
                <button onclick="">삭제</button>
                <a href="/home">돌아가기</a>
            </div>
        </div>

    </div>  
      
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/0.8.1/cropper.min.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    
    <script>
        // jinja2 데이터 받기
        const wedding_schedule_dict = {{wedding_schedule_dict|safe}};
        const transport_list = {{transport_list|safe}};
        const message_templates_dict = {{message_templates_dict|safe}};
        const image_list = {{image_list|safe}};
    </script>
    <script src="/static/js/common.js"></script>
    <script src="/static/js/create.js"></script>

</body>
</html>