<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>모바일 청첩장</title>
    
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/home.css">
    <script src="https://unpkg.com/phosphor-icons"></script>
  
</head>
<body>
    <section>
      <div class="leaves">
        <div class="set">
          <div><img src="https://cdn.crowdpic.net/list-thumb/thumb_l_8AF85A1BDEF24FE57254248D3F176DC6.png?" alt=""></div>
          <div><img src="https://cdn.crowdpic.net/list-thumb/thumb_l_8AF85A1BDEF24FE57254248D3F176DC6.png?" alt=""></div>
          <div><img src="https://cdn.crowdpic.net/list-thumb/thumb_l_8AF85A1BDEF24FE57254248D3F176DC6.png?" alt=""></div>
          <div><img src="https://cdn.crowdpic.net/list-thumb/thumb_l_8AF85A1BDEF24FE57254248D3F176DC6.png?" alt=""></div>
          <div><img src="https://cdn.crowdpic.net/list-thumb/thumb_l_8AF85A1BDEF24FE57254248D3F176DC6.png?" alt=""></div>
          <div><img src="https://cdn.crowdpic.net/list-thumb/thumb_l_8AF85A1BDEF24FE57254248D3F176DC6.png?" alt=""></div>
          <div><img src="https://cdn.crowdpic.net/list-thumb/thumb_l_8AF85A1BDEF24FE57254248D3F176DC6.png?" alt=""></div>
          <div><img src="https://cdn.crowdpic.net/list-thumb/thumb_l_8AF85A1BDEF24FE57254248D3F176DC6.png?" alt=""></div>
        </div>
      </div>
      <img class="bg" src="https://img.lovepik.com/photo/40189/4902.jpg_wh860.jpg" alt="">

      <div class="container">
        <div class="top">
          <h2>웹 청첩장</h2>
          <span>소중한 분들께 마음을 담아 전하는 모바일청첩장</span>
        </div>
        <div class="middle">
          <div class="templates">
            <div class="card">
              <div class="card-img">
                <img src="/static/images/template_thumbnail/01.jpeg" alt="">
              </div>
              <div class="card-content">
                <div class="left">
                  <h4>행복</h4>
                  <div class="price">
                    <span class="event-price">0원(이벤트)</span>
                    <span class="origin-price">9,900원</span>
                  </div>
                </div>
                <div class="right">
                  <a href="/">샘플보기</a>
                  <a href="/create">제작하기</a>
                </div>
              </div>
            </div>
            
          </div>
          
        </div>
      </div>
    </section>
    <script src="/static/js/common.js"></script>
    <script src="/static/js/home.js"></script>
</body>
</html>