<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    div#items {
      border: 1px red solid;
      padding: 10px;
      text-align: center;
    }
    
    div#items div {
      display: inline-block; 
      border: 1px solid #555;
      text-align: center;
      padding: 1em;
      margin: 10px;
      width: 100px;
      height: 100px;
      font-size: 200%;
    }
  </style>
</head>
<body>
  <div id="items">
  </div>
  
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js" ></script>
  <script>
        
    let el = document.getElementById('items');
    for(let i = 1; i <= 12; i++) {
      let div = document.createElement('div');
      div.textContent = i;
      el.appendChild(div);
    }

    var sortable = Sortable.create(el);

  </script>
</body>
</html>