<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>네이버 지오코딩 API</title>
</head>
<body>
  <script>
    const clientId = 'ko0r34e7m9';
const clientSecret = 'prCzt8XuwLxK0WlPW8QxqyDQHVhWnZkywBSlrlDA';

const address = prompt('주소를 입력하세요.');

const url = `https://naveropenapi.apigw.ntruss.com/map-geocode/v2/geocode?query=${encodeURIComponent(address)}&coordinate=127.1054324,37.3595963`;
const headers = {
  'X-NCP-APIGW-API-KEY-ID': clientId,
  'X-NCP-APIGW-API-KEY': clientSecret
};

fetch(url, { headers, mode: 'cors' })
  .then(response => {
    if (!response.ok) {
      throw new Error(`HTTP error! status: ${response.status}`);
    }
    return response.json();
  })
  .then(responseJson => console.log(responseJson))
  .catch(error => console.error(error));
  </script>
</body>
</html>
