<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>모바일 청첩장</title>
    <link rel="stylesheet" href="/static/css/reset.css" >
    <link rel="stylesheet" href="/static/css/index.css" >
</head>
<body>
    <div id="app">
        <div id="container">
            <div class="title_box">
                신랑 신부 이름
                메인 사진
                결혼식 시간
                결혼식 장 주소
            </div>
            <div class="paragraph-wrap fade-in">
                이상한 명언
            </div>
            <div class="greetings-wrap">
                신랑 신부의 결혼식 인사말
                서브 사진
                00 . 00 의 아들 00 전화기 아이콘
                00 . 00 의 딸 00 전화기 아이콘
                혼주에게 연락하기 모달 버튼
            </div>
            <div class="calendar-wrap">
                결혼식 날짜
                토요리 시간
                달력
                00 ♥ 00의 결혼식이 00일 남았습니다.

            </div>
            <div class="gallery-wrap">
                갤러기
                사진 9장
            </div>
            <div class="map-wrap">
                오시는 길
                결혼식장 정확한 주소
                지도
                교통편 상세
            </div>
            <div class="account-wrap">
                마음 전하실 곳
                신랑측 계좌번호
                신부측 계좌번호
            </div>
            <div class="guestbook-wrap">
                방명록
            </div>
            <div class="footer-wrap">
                카톡으로 공유하기
                청첩장 주소 복사하기
            </div>
        </div>
    </div>
</body>
</html>