<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>모바일 청첩장</title>
    
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/login.css">
    <script src="https://unpkg.com/phosphor-icons"></script>
  
</head>
<body>

    <!-- <div class="container">
      <form action="">
        <button type="submit">카카오 로그인</button>
      </form>
      <a href="">회원가입</a>
    </div> -->
    <section>
      <div class="leaves">
        <div class="set">
          <div><img src="https://cdn.crowdpic.net/list-thumb/thumb_l_8AF85A1BDEF24FE57254248D3F176DC6.png?" alt=""></div>
          <div><img src="https://cdn.crowdpic.net/list-thumb/thumb_l_8AF85A1BDEF24FE57254248D3F176DC6.png?" alt=""></div>
          <div><img src="https://cdn.crowdpic.net/list-thumb/thumb_l_8AF85A1BDEF24FE57254248D3F176DC6.png?" alt=""></div>
          <div><img src="https://cdn.crowdpic.net/list-thumb/thumb_l_8AF85A1BDEF24FE57254248D3F176DC6.png?" alt=""></div>
          <div><img src="https://cdn.crowdpic.net/list-thumb/thumb_l_8AF85A1BDEF24FE57254248D3F176DC6.png?" alt=""></div>
          <div><img src="https://cdn.crowdpic.net/list-thumb/thumb_l_8AF85A1BDEF24FE57254248D3F176DC6.png?" alt=""></div>
          <div><img src="https://cdn.crowdpic.net/list-thumb/thumb_l_8AF85A1BDEF24FE57254248D3F176DC6.png?" alt=""></div>
          <div><img src="https://cdn.crowdpic.net/list-thumb/thumb_l_8AF85A1BDEF24FE57254248D3F176DC6.png?" alt=""></div>
        </div>
      </div>
      <img class="bg" src="https://img.lovepik.com/photo/40189/4902.jpg_wh860.jpg" alt="">
      <img class="girl" src="" alt="">
      <div class="login">
        <h2>로그인</h2>
        <div>
          <div class="inputBox">
            <input type="text" placeholder="아이디">
          </div>
          <div class="inputBox">
            <input type="password" placeholder="비밀번호">
          </div>
          <div class="inputBox">
            <input type="submit" value="로그인" id="btn">
          </div>
          <div class="inputBox">
            <a href="javascript:kakaoLogin()">카카오 로그인</a>
          </div>
        </div>
        <div class="group">
          <a href="#" >계정을 잊으셨나요?</a>
          <a href="#" >회원가입</a>
        </div>
      </div>
      <img class="trees" src="" alt="">
    </section>
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <script>
      window.Kakao.init('19e6d6ca2612380690e073e3e59433ec');
      function kakaoLogin() {
        window.Kakao.Auth.login({
          scope: 'profile_nickname, account_email',
          success: function (authObj) {
            console.log(authObj);
            window.Kakao.API.request({
              url:'/v2/user/me',
              success: function (res) {
                const kakao_account = res.kakao_account;
                console.log(kakao_account);
                alert('잠시 정지')
                // window.location.href = './index.html';
                
              }
            })
          }
        })
      }
    </script>
</body>
</html>