<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>모바일 청첩장</title>
    
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/loginAndRegister.css">
    <script src="https://unpkg.com/phosphor-icons"></script>
  
</head>
<body>
    <section>
      <div class="leaves">
        <div class="set">
          <div><img src="https://cdn.crowdpic.net/list-thumb/thumb_l_8AF85A1BDEF24FE57254248D3F176DC6.png?" alt=""></div>
          <div><img src="https://cdn.crowdpic.net/list-thumb/thumb_l_8AF85A1BDEF24FE57254248D3F176DC6.png?" alt=""></div>
          <div><img src="https://cdn.crowdpic.net/list-thumb/thumb_l_8AF85A1BDEF24FE57254248D3F176DC6.png?" alt=""></div>
          <div><img src="https://cdn.crowdpic.net/list-thumb/thumb_l_8AF85A1BDEF24FE57254248D3F176DC6.png?" alt=""></div>
          <div><img src="https://cdn.crowdpic.net/list-thumb/thumb_l_8AF85A1BDEF24FE57254248D3F176DC6.png?" alt=""></div>
          <div><img src="https://cdn.crowdpic.net/list-thumb/thumb_l_8AF85A1BDEF24FE57254248D3F176DC6.png?" alt=""></div>
          <div><img src="https://cdn.crowdpic.net/list-thumb/thumb_l_8AF85A1BDEF24FE57254248D3F176DC6.png?" alt=""></div>
          <div><img src="https://cdn.crowdpic.net/list-thumb/thumb_l_8AF85A1BDEF24FE57254248D3F176DC6.png?" alt=""></div>
        </div>
      </div>
      <img class="bg" src="https://img.lovepik.com/photo/40189/4902.jpg_wh860.jpg" alt="">
      <img class="girl" src="" alt="">
      <form onsubmit="loginSubmit(event)" class="login">
        <h2>로그인</h2>
        <div>
          <div class="inputBox">
            <input id="inputId" type="text" placeholder="아이디">
          </div>
          <div class="inputBox">
            <input id="inputPassword" type="password" placeholder="비밀번호">
          </div>
          <div class="inputBox">
            <button type="submit" id="btn">로그인</button>
          </div>
        </div>
        <div class="group">
          <!-- <a href="#" >계정을 잊으셨나요?</a> -->
          
          <a href="register">
            <span>계정이 없으신가요?</span>
            <span class="underline">회원가입</span>
          </a>
        </div>
      </form>
    </section>
    <script src="/static/js/common.js"></script>
    <script src="/static/js/login.js"></script>
</body>
</html>