<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>모바일 청첩장</title>
    
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/login.css">
    <script src="https://unpkg.com/phosphor-icons"></script>
  
</head>
<body>

    <!-- <div class="container">
      <form action="">
        <button type="submit">카카오 로그인</button>
      </form>
      <a href="">회원가입</a>
    </div> -->
    <section>
      <div class="leaves">
        <div class="set">
          <div><img src="https://cdn.crowdpic.net/list-thumb/thumb_l_8AF85A1BDEF24FE57254248D3F176DC6.png?" alt=""></div>
          <div><img src="https://cdn.crowdpic.net/list-thumb/thumb_l_8AF85A1BDEF24FE57254248D3F176DC6.png?" alt=""></div>
          <div><img src="https://cdn.crowdpic.net/list-thumb/thumb_l_8AF85A1BDEF24FE57254248D3F176DC6.png?" alt=""></div>
          <div><img src="https://cdn.crowdpic.net/list-thumb/thumb_l_8AF85A1BDEF24FE57254248D3F176DC6.png?" alt=""></div>
          <div><img src="https://cdn.crowdpic.net/list-thumb/thumb_l_8AF85A1BDEF24FE57254248D3F176DC6.png?" alt=""></div>
          <div><img src="https://cdn.crowdpic.net/list-thumb/thumb_l_8AF85A1BDEF24FE57254248D3F176DC6.png?" alt=""></div>
          <div><img src="https://cdn.crowdpic.net/list-thumb/thumb_l_8AF85A1BDEF24FE57254248D3F176DC6.png?" alt=""></div>
          <div><img src="https://cdn.crowdpic.net/list-thumb/thumb_l_8AF85A1BDEF24FE57254248D3F176DC6.png?" alt=""></div>
        </div>
      </div>
      <img class="bg" src="https://img.lovepik.com/photo/40189/4902.jpg_wh860.jpg" alt="">
      <img class="girl" src="" alt="">
      <div class="login">
        <h2>로그인</h2>
        <div>
          <div class="inputBox">
            <input type="text" placeholder="아이디">
          </div>
          <div class="inputBox">
            <input type="password" placeholder="비밀번호">
          </div>
          <div class="inputBox">
            <input type="submit" value="로그인" id="btn">
          </div>
        </div>
        <div class="group">
          <a href="#" >계정을 잊으셨나요?</a>
          <a href="#" >회원가입</a>
        </div>
      </div>
      <img class="trees" src="" alt="">
    </section>
    <script>
    </script>
</body>
</html>