<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>모바일 청첩장</title>
    
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/loginAndRegister.css">
    <script src="https://unpkg.com/phosphor-icons"></script>
  
</head>
<body>
    <section>
      <div class="leaves">
        <div class="set">
          <div><img src="https://cdn.crowdpic.net/list-thumb/thumb_l_8AF85A1BDEF24FE57254248D3F176DC6.png?" alt=""></div>
          <div><img src="https://cdn.crowdpic.net/list-thumb/thumb_l_8AF85A1BDEF24FE57254248D3F176DC6.png?" alt=""></div>
          <div><img src="https://cdn.crowdpic.net/list-thumb/thumb_l_8AF85A1BDEF24FE57254248D3F176DC6.png?" alt=""></div>
          <div><img src="https://cdn.crowdpic.net/list-thumb/thumb_l_8AF85A1BDEF24FE57254248D3F176DC6.png?" alt=""></div>
          <div><img src="https://cdn.crowdpic.net/list-thumb/thumb_l_8AF85A1BDEF24FE57254248D3F176DC6.png?" alt=""></div>
          <div><img src="https://cdn.crowdpic.net/list-thumb/thumb_l_8AF85A1BDEF24FE57254248D3F176DC6.png?" alt=""></div>
          <div><img src="https://cdn.crowdpic.net/list-thumb/thumb_l_8AF85A1BDEF24FE57254248D3F176DC6.png?" alt=""></div>
          <div><img src="https://cdn.crowdpic.net/list-thumb/thumb_l_8AF85A1BDEF24FE57254248D3F176DC6.png?" alt=""></div>
        </div>
      </div>
      <img class="bg" src="https://img.lovepik.com/photo/40189/4902.jpg_wh860.jpg" alt="">
      <form class="login" onsubmit="registerSubmit(event)">
        <h2>회원가입</h2>
        <div>
          <div class="inputBox">
            <label for="inputEmail">이메일</label>
            <input id="inputEmail" type="email" placeholder="HongGilDong@gmail.com">
          </div>
          <div class="inputBox">
            <label for="inputName">이름</label>
            <input id="inputName" type="text" placeholder="홍길동">
          </div>
          <div class="inputBox">
            <label for="inputId">아이디</label>
            <input id="inputId" type="text" placeholder="HongGilDong">
          </div>
          <div class="inputBox">
            <label for="inputPassword">비밀번호</label>
            <input id="inputPassword" type="password" placeholder="*****">
          </div>
          <div class="inputBox">
            <label for="inputPassword2">비밀번호 재확인</label>
            <input id="inputPassword2" type="password" placeholder="*****">
          </div>
          <div class="inputBox">
            <button type="submit" id="btn">계정 생성</button>
          </div>
        </div>
        <div class="group">
          <a href="login">
            <span>이미 계정이 있으신가요?</span> 
            <span class="underline">로그인</span>
          </a>
        </div>
      </form>
    </section>
    <script src="/static/js/common.js"></script>
    <script src="/static/js/register.js"></script>
</body>
</html>